{% extends 'base.html' %}

    {% block content %}
        <div class="container" style="padding-left:100px; margin:20px;">
            <h2 style="padding-left:48%; font-weight:500;">Login</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary btn-large" style="align:center; width:100px;">Login</button>
                </form>
            <button type="submit" class="btn btn-danger btn-large" style=" font-weight:50; background-color:#D10024; margin-top:10px; align:center; width:100px;">
                <a href="{% url 'signup'%}"><h4>Sign up</h4></a>
            </button>
        </div>

    {% endblock %}



